
.advertising {
  text-align: center;
  background: rgba(#aaa, 0.88);
  border-radius: 15px;
  padding: 15px;
  margin-top: 20px;
  box-sizing: border-box;
}

/* AQUI TERMINA EL DISEÑO DE PUBLICIDAD DEL aside QUE SE ENCUENTRA EN EL index */
