body {
  background-color: $body;
}

main {
  min-height: 75vh;
  box-sizing: border-box;
}

/* DISEÑO DEL index.html */

.index-main {
  min-height: 75vh;
  box-sizing: border-box;
  padding: 10px 50px;
}

/*DISEÑO DE LAS MESAS EN 'SECTION' DEL ARCHIVO ventas.html*/

.fondo-mesas {
  display: flex;
  flex-wrap: wrap;
  & .mesa {
    cursor: pointer;
    text-align: center;
    margin: 10px;
    min-height: 100px;
    padding: 10px 5px;
    box-sizing: border-box;
    transition: 0.1s;
    border-radius: 20px;
    font-size: 1.5em;
    font-family: sans-serif;
    box-shadow: 1px 1px 2px #000, 1px 2px 3px #313131;
  }
  & label {
    cursor: pointer;
    display: block;
    margin-bottom: 5px;
  }
}


.ocupada {
  background: #69b36c;
  &:hover {
    background: #42ad59;
  }
}

.desocupada {
  background: #d0d0d0;
  &:hover {
    background: #c0c0c0;
  }
}
