body {
  background-color: $body;
}

main {
  min-height: 75vh;
  background-image: url('../../storage/thumbs/logo.png');
  background-repeat: no-repeat;
  background-size: 600px 400px;
  background-position: center;
  box-sizing: border-box;
}

/* DISEÑO DEL index.html */

.index-main {
  min-height: 75vh;
  box-sizing: border-box;
  padding: 10px 50px;
}

/*DISEÑO DE LA TABLA 'SECTION' DEL ARCHIVO ventas.html*/

.tabla-info {
  height: 80vh;
  & table {
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 15px;
    background: #ccafbe;
    border-collapse: collapse;
    text-align: center;
    & thead{
      background: $header;
      color: #fff;
      border-bottom: solid 2px #000;
    }
    & tr {
      & td, th {
        padding: 10px;
      }
    }
  }
}

/*DISEÑO DE LAS MESAS EN 'SECTION' DEL ARCHIVO ventas.html*/

.fondo-mesas {
  display: flex;
  flex-wrap: wrap;
  float: right;
  & .mesa {
    text-align: center;
    margin: 15px;
    min-height: 100px;
    padding: 10px;
    box-sizing: border-box;
    transition: 0.1s;
    border-radius: 20px;
    font-size: 1.5em;
    font-family: sans-serif;
    cursor: pointer;
  }
  & label {
    cursor: pointer;
  }
}


.ocupada {
  background: #69b36c;
  &:hover {
    background: #228641;
  }
}

.desocupada {
    background: #d0d0d0;
    &:hover {
      background: #afafaf;
    }
}
