<div id="m_agregar_cuenta" class="modal">
  <div class="m-bg">
    <div class="m-content">
      <div class="m-header">
        <div class="row justify-content-between align-items-center">
          <p id="m_titulo_add_cuenta">Agregar Cuenta</p>
          <div class="btn-close">&Cross;</div>
        </div>
      </div>

      <div class="m-body">
          <form class="agr_cuenta" action="" method="post">
              <label for="comensal">Cliente*</label>
              <input type="text" name="comensal" value="">
              <label for="tel">Teléfono</label>
              <input type="tel" name="tel" value="">
            </form>
      </div>
    </div>
  </div>
</div>